.col-md-2 {
   padding: 0;
}

#actualites, #presentation_festival {
   height: 400px;
   background-color: red;
}

.navbar-inverse {
   transition: background-color 0.5s, border-color 0.5s, font-size;
}

header img[class="col-xs-12"] {
   padding: 0;
}
