/* General */
@media screen and (max-width: 991px) {
   body {
      margin-top: 50px;
   }
}

/* Nav */

.navbar-inverse {
   transition: background-color 0.5s, border-color 0.5s, font-size;
}

/* Header */

header img[class="col-xs-12"] {
   padding: 0;
}

header {
   position: relative;
}

header div[class="col-xs-12"] {
   width: 100%;
   position: absolute;
   top: 50%;
   z-index: 500;
   color: white;
   text-align: center;
   -webkit-transform: translate(0, -95%);
   -ms-transform: translate(0, -95%);
   -o-transform: translate(0, -95%);
   transform: translate(0, -95%);
   background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0));
}

header h1, header h2, section h2 {
   font-family: 'Bungee', cursive;
}

@media screen and (max-width: 991px) {
   header h1 {
      font-size: 1.5em;
   }

   header h2 {
      font-size: 1em;
   }
}

header h1:after {
   content: '';
   display: block;
   height: 1px; width: 40%;
   margin: auto;
   background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0));
}

/* Section */

   /* General */
@media screen and (min-width: 991px) {
   section h2 {
      font-size: 3em;
   }
}

@media screen and (max-width: 991px){
   section h2 {
      font-size: 2em;
   }
}

section h2:after {
   content: '';
   display: block;
   height: 1px; width: 50%;
   background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
}

   /* Actualites */

#actualites div[class="col-xs-12"] {
   padding-left: 60px;
}

#actualites h3 {
   margin-bottom: 0;
}

#actualites h4 {
   margin-top: 0;
   font-style: italic;
   font-size: 1.1em;
}

#actualites p {
   padding-left: 25px;
}

#actualites div[class="row"] {
   margin: 35px -15px;
}

#actualites div[class="row"]:after {
   content: '';
   display: block;
   height: 1px; width: 50%;
   background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,0));
   margin: auto;
}

@media screen and (max-width: 991px) {
   #actualites div[class="col-xs-12"] {
      padding-left: 15px;
   }

   #actualites div[class="row"] {
      margin: 5px -15px;
   }

   #actualites h3 {
      text-align: center;
   }

   #actualites h4 {
      display: none;
   }
}

   /* Presentation festival */

#presentation_festival {
   background-color: #e4e4e4;
}

#presentation_festival iframe {
   border: 0;
}

#presentation_festival legend {
   width: auto;
}

#presentation_festival fieldset {
   padding: 5px 10.5px 9px 10.5px;
   margin: 0 2px 20px 2px;
   border-width: 2px;
   border-style: groove;
   border-color: threedface;
   border-image: initial;
}

@media screen and (min-width: 991px) {
   #presentation_festival iframe {
      min-height: 400px;
      height: 100%;
      position: absolute;
      padding-top: 20px;
      padding-bottom: 20px;
   }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
   #presentation_festival iframe {
      width: 100%;
      height: 400px;
   }
}

@media screen and (max-width: 768px) {
   #presentation_festival iframe {
      width: 100%;
      height: 200px;
   }
}

#presentation_festival h3:nth-child(4):before, #presentation_festival h3:nth-child(8):before {
   content: '';
   display: block;
   height: 1px; width: 50%;
   background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,0));
   margin: auto;
   margin-bottom: 15px;
}

#row_presentation_festival {
   position: relative;
}

   /* Presentation films */

.bloc_film {
   position: relative;
}

.bloc_film img {
   width: 100%;
}

.bloc_film h3 {
   display: inline-block;
   position: absolute;
   transition: background-color 0.5s, color 0.5s;
   background-color: rgba(258,258,258,0);
   color: rgba(0,0,0,0);
   height: 100%; width: 100%;
   margin: 0;
   text-align: center;
   padding: 30% 15px 0 15px;
   font-family: 'Bungee', cursive;
}

.bloc_film h4 {
   display: inline-block;
   position: absolute;
   transition: color 0.5s;
   color: rgba(0,0,0,0);
   height: 100%; width: 100%;
   margin: 0;
   text-align: center;
   padding-top: 60%;
   font-family: 'Bungee', cursive;
   font-size: 1em;
}

.bloc_film:hover h3 {
   background-color: rgba(258,258,258,0.5);
   color: rgba(0,0,0,1);
}

.bloc_film:hover h4 {
   color: rgba(0,0,0,1);
}

.col-md-2 {
   padding: 0;
}
