.col-md-2 {
   padding: 0;
}

#presentation_festival {
   height: 400px;
   background-color: red;
}

.navbar-inverse {
   transition: background-color 0.5s, border-color 0.5s, font-size;
}

header img[class="col-xs-12"] {
   padding: 0;
}

header {
   position: relative;
}

header div {
   width: 100%;
   position: absolute;
   top: 50%;
   z-index: 500;
   color: white;
   text-align: center;
   -webkit-transform: translate(0, -95%);
   -ms-transform: translate(0, -95%);
   -o-transform: translate(0, -95%);
   transform: translate(0, -95%);
   background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0));
}

header h1, header h2, section h2 {
   font-family: 'Bungee', cursive;
}

header h1:after {
   content: '';
   display: block;
   height: 1px; width: 40%;
   margin: auto;
   background-color: white;
}

#actualites, #presentation_festival, #presentation_film {
   padding: 50px 0;
   margin-top: -50px;
   margin-bottom: -50px;
}

section h2 {
   font-size: 3em;
}

section h2:after {
   content: '';
   display: block;
   height: 1px; width: 50%;
   background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
}

#actualites div[class="col-xs-12"] {
   padding-left: 60px;
}

#actualites h3 {
   margin-bottom: 0;
}

#actualites h4 {
   margin-top: 0;
   font-style: italic;
   font-size: 1.1em;
}

#actualites p {
   padding-left: 25px;
}

#actualites div[class="row"] {
   margin: 35px -15px;
}

#actualites div[class="row"]:after {
   content: '';
   display: block;
   height: 1px; width: 50%;
   background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,0));
   margin: auto;
}
