.col-md-2 {
   padding: 0;
}

#actualites, #presentation_festival {
   height: 400px;
   background-color: red;
}

.navbar-inverse {
   transition: background-color 0.5s, border-color 0.5s, font-size;
}

header img[class="col-xs-12"] {
   padding: 0;
}

header {
   position: relative;
}

header div {
   width: 100%;
   position: absolute;
   top: 50%;
   z-index: 500;
   color: white;
   text-align: center;
   -webkit-transform: translate(0, -95%);
   -ms-transform: translate(0, -95%);
   -o-transform: translate(0, -95%);
   transform: translate(0, -95%);
   background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0));
}

header h1, header h2 {
   font-family: 'Bungee', cursive;
}

header h1:after {
   content: '';
   display: block;
   height: 1px; width: 40%;
   margin: auto;
   background-color: white;
}

#actualites, #presentation_festival, #presentation_film {
   padding-top: 50px;
   margin-top: -50px
}
